<% title "Statuses" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for status in @statuses %>
    <tr>
      <td><%= link_to(status.name, status) %></td>
      <td><%= link_to "Edit", edit_status_path(status) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Status", new_status_path %></p>
