<% title "Weight Types" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for weight_type in @weight_types %>
    <tr>
      <td><%= link_to( weight_type.name, weight_type ) %></td>
      <% if highaccess? %>
        <td><%= link_to "Edit", edit_weight_type_path(weight_type) %></td>
      <% end %>
      <% if highaccess? && weight_type.weights.count == 0 %>
        <td><%= link_to "Destroy", weight_type, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if highaccess? %>
<p><%= link_to "New Weight Type", new_weight_type_path %></p>
<% end %>
