<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Paul Benson CINS 465</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="content">
        <header><h1>Paul Benson - CINS 465</h1></header>
        <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/tutorials/">Tutorials</a></li>
                </ul>
        </nav>
		<img class="sidebar" src="hanahwy.jpg" / >

        <div id="main">
		<h2>About Me</h2>
		<p>Paul Benson is Computer Science Major
		currently attending <span>CSU Chico</span>.
		</p>
		<h2>Portfolio</h2>
		<ul>
			<li><a href="http://www.reptiworms.com">Reptiworms.com</a> - a Tomatocart based eCommerce site</li>
			<li><a href="http://www.tunerbits.com">Tunerbits</a> - an X-cart based eCommerce site</li>
			<li><a href="http://www.idramatictaxidermy.com">Dramatic Taxidermy</a> - A Drupal based artist Portfolio</li>
			<li><a href="blueroom.xantar.net">Blueroom Theater Employee Management Tool</a> - a PHP based tool for the Blueroom theater, CINS370 - Final Project</li>
		</ul>

<h2>Known Programming Languages</h2>
<table>
<tr><th>Language</th><th>Level of Knowledge</th></tr>
<tr><td>Assembly</td><td>Some</td>
<tr><td>C++</td><td>Good</td>
<tr><td>JAVA</td><td>Good</td>
<tr><td>PHP</td><td>A Lot</td>
<tr><td>LUA</td><td>Experimental</td>
<tr><td>HTML</td><td>A Lot</td>
<tr><td>CSS</td><td>Good</td>
</table>

<h3>HTML5 Improvements</h3>
<code>
&lt;header&gt; &lt;footer&gt; &lt;nav&gt;
These all remove most of the need to create CSS Classes for normal page elements used in HTML 4
</code>

        </div>
	<footer>
		&copy;2011 Paul Benson
	</footer>
</div>
</body>
</html>

